language: php
php:
- 5.5
sudo: false
before_script:
- composer self-update
- composer install --prefer-dist --no-interaction
before_install:
- openssl aes-256-cbc -K $encrypted_e44c58426490_key -iv $encrypted_e44c58426490_iv
  -in XRay-67d8fdd0bba3.json.enc -out XRay-67d8fdd0bba3.json -d
deploy:
  skip_cleanup: true
  provider: gae
  default: true
  project: xray-p3k-io
  on: master
  keyfile: XRay-67d8fdd0bba3.json